.btn_add {
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

th{
    border-collapse: collapse;
    width: 15%;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #f4f4f4;
    font-weight: bold;
}
tr{
    background-color: #f9f9f9;
    height: 35px;
}
td{
    text-align: center;  
}
.btn_delete{
    background-color: red;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.btn_update{
    background-color: green;
    color: white;
    padding: 4px 8px;
    border: none;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}