form {
    max-width: 400px;
    margin: 20px 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}
.submit{
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
input {
margin-bottom: 25px;
width: 100px; 
padding: 8px 12px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}
textarea{
margin-bottom: 5px;
width: 240px; 
padding: 8px 12px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}
select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    box-sizing: border-box;
}

select option {
    padding: 5px 10px;
}
.title{
    margin-left: 125px;
}